<html>
    <head>
        <title>The Cypher</title>
    </head>
    <link rel="stylesheet" href= "{{ url_for('static', filename='styles.css') }}">
    <body>
        <div>
            The Cypher:
            <a href="{{ url_for('main.index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.register') }}">Register</a>
            {% else %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </div>
        <canvas id="canvas" height="100" width="100"></canvas>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div>{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        {% block content %}{% endblock %}
        <script src = " {{ url_for('static', filename='js/posts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/clock.js') }}"></script>
    </body>
</html>