{% extends "base.html" %}

{% block content %}
<button id = "sessionToggle" onclick="HideContent()">Hide Session Form</button>
<div id = "sessionForm"> 
    <form action="" method=post>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=32) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=32) }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.datetime.label }}<br>
            {{ form.datetime(size=32) }}<br>
            {% for error in form.datetime.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.reoccuring() }} {{ form.reoccuring.label }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
</div>
    {% for post in posts %} 
        <div>
            <h2>{{ post.title }}</h2>
            <h3>Hosted by {{ post.master.username }}</h3>
            <h4>{{ post.location }}</h4>
            <p>{{ post.description }}</p>
            {% if post.reoccuring %} 
                <p>Every:</p>
            {% endif %}
            <p> {{ post.datetime }}</p>
        </div>
    {% endfor %}
<script src = " {{ url_for('static', filename='js/posts.js') }}"></script>

{% endblock %}